
.main\.box {

    background-color: purple;
    width: 900px;
}



.box {


    display: inline-block;
    width: 300PX;
    height: 150px;
    margin: 80px;

}



.box1 {

    background-color: darkgreen;
    box-shadow: 10px 10px 10px rgb(224, 172, 14);;


}



.box2 {

    background-color: blue;

}




.box3 {
    background-color: aliceblue;
}




.bgi  {

    background-image: url("../worldofmiss/img.png");

    height: 600px;
    width: 800px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

    }



.main\.box .box1 {
    background-color: #d2691e;
}

.container {
    display: flex;
}