h1 {
    color: blue;
    font-family: Calibri, sans-serif;
font-size: large;
}



.test {

    color: coral;
    font-family: Georgia, sans-serif;
    flex: content;

}

.tesst  {

    color: brown;
    font-family:Amiko  sans-serif;
    flex-basis: content;
}

img {

    width: 300px;
}

p
{

    color: cadetblue;
    font-family: Georgia, sans-serif;
    flex: max-content;
    font-max-size: larger;
}


.bcg
{
    background-color: burlywood;
    margin: 40px;
    width: 1000px ;
    padding:20px;
    font-family: Amiko, sans-serif;
    border: 4px solid black

}

a {

    text-decoration: none ;
    color: coral;
    font-size: 40px;
    transition: ease-in-out 0.8s;
}

a:hover {

    text-decoration: underline;
    color: darkblue;
}

