






.bg-dark{
    height:80px;
    background-color:cornflowerblue;
}

.bg-darkpink {
    height:80px;
    background-color: crimson;
}


.bg-left{
    height:100%;
    background-color: darkblue;
}

.bg-blue
{
    height:80px;
    background-color: darkgoldenrod;

}
.bg-pink {
    background-color: coral;
}

.bg-yellow {
    height:80px;

    background-color: darkorchid;
}

.bg-mauve{
    height:80px;
    background-color: darkslategray;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size:100px;

}

h3{ont-family: 'Josefin Sans'serif;
    font-size:30px;

}